h1 {
	grid-area: hd;
}
body {
	font-size: 30px;
	color: #415FD1;
	-webkit-text-stroke-color: white;
	-webkit-text-stroke-width: 1px;
	font-family: Courier, monospace;
	background-color: #C5CEF0;
	text-align: center;
}
section {
	background-image: url("background.jpg");
	background-attachment: fixed;
	background-size: auto;
	display: grid;
	grid-template-areas:
        "hd hd hd hd hd hd"	
	"tm tm tm tm tm tm"
	"ct ct ct ct sa st";
}

#custom-time {
	margin-top: 50px;
	margin-bottom: 50px;
	grid-area: ct;
	font-size: 30px;
	text-align: center;
}

#timer:
{
	grid-area: tm;
	text-align: center;
}

button {
	position: static;
	margin-top: 50px;
	margin-bottom: 50px;
	color: white;
	font-size: 30px;
}

#start {
	grid-area: sa;
}

#stop {
	grid-area: st;
}

hr {
	width: 75%;
}
